*, html {
    padding: 0;
    margin: 0;
    line-height: 1.25em;
    
}
a:link {
    text-decoration: none;
    color: black;
}
body {
    background-image: url('../img/body-light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
.slide-banner {
    width: 100%;
    height: 10%;
    align-items: center;
    flex-direction: row;
    padding: 5px 5px;
    position: absolute;
    top: 5%;
    margin-top: 10%;
}
.slide-banner img{
    width: 80%;
}
.image-banner {
    position: absolute;
    width: 100%;
    height: 31px;
    margin-top: 15%;
    align-items: center;
    flex-direction: column;
}
.image-banner img{
    width: 80%;
}
.ui-screen-text {
    position: absolute;
    width: 98%;
    height: 115px;
    padding: 0px 10px;
    top: 45%;
}
.ui-screen-text p {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #7D7D7D;
    padding: 10px 16px;
}
.download-btn {
    position: absolute;
    width: 98%;
    height: 115px;
    align-items: center;
    flex-direction: row;
    text-align: center;
    padding: 10px 15px;
    top: 60%;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    height: 100px;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    margin-bottom: 5%;
}
footer .sub-footer p {
    font-size: 10px;
    color: black;
    font-weight: 600;
}
.footer-line {
    border: 1px solid #5a5858;
}

/* Login */
.login-text p{
    font-weight: 600;
    font-size: 18px;
}

.login-box {
    width: 90%;
    height: 398px;
    background: #F3F3F3;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
}
input.custom-line {
    background: transparent;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 5%;
}

input.custom-line:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #F35903;
}
label.custom-label {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}
a.forgot-pass {
    font-size: 11px;
    font-weight: 600;
    color: #F35903;
    margin-top: 5%;
    margin-bottom: 10%;
}

p.signup-text {
    font-size: 11px;
    font-weight: 700;
    margin-top: 10%;
    text-align: center;
}

a.signup-text {
    font-size: 11px;
    font-weight: 600;
    color: #F35903;
    margin-top: 5%;
    margin-bottom: 10%;
}
